<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hui.catopuma"
    tools:ignore="ProtectedPermissions">

    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/test_smail"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Catopuma"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".page.input.InputActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".page.startup.StartupActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.Startup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page.home.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".page.web.WebActivity" />
        <activity android:name=".page.menu.MenuActivity" />
        <activity android:name=".page.menu.Menu2Activity" />
        <activity android:name=".page.hexagon.HexagonActivity" />
        <activity android:name=".page.ActionFragmentActivity" />
    </application>

</manifest>